.atencion{
    width: 100%;
    height: auto;
    align-content: center;
    color:black;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    .contenedor{
        width: 100%;
        margin: 0;
        font-family:'Bebas Neue', cursive;
        text-align: center;
        align-content: center;
        h3{
            font-size:26px;
            font-family:'Bebas Neue', cursive;
            color: black;
            p{
                        color: black;
                        font-size: 20px;
                        font-family: 'Bebas Neue', cursive;
                        text-align: center;
                     
                     
            }
        }
    }
   
    
}
.doc{
    width: 80%;
    align-content: space-around;
    
}