*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(38, 79, 107, 0.288);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}
main{
    .banner{
        width: 100%;
        height: auto;
        align-content: center;
        color: black;
        font-family: 'Bebas Neue', cursive;
        img{
            align-content: center;
            width: 100%;
            .contenedor{
                width: 100%;
        margin: 0;
        font-size: 20px;
        font-family:'Bebas Neue', cursive;
        text-align: center;
                h2{
                    color: rgb(7, 7, 7);
                    font-size: 26px;
                    font-family: 'Bebas Neue', cursive;
                    p{
                        color: rgba(245, 236, 236, 0.288);
                        font-size: 20px;
                        font-family: 'Bebas Neue', cursive;
                        text-align: center;
                    }
                }
            }
        }
    }
}