.turno{
    width: 100%;
    height: auto;
    align-content: center;
    color: black;
    font-family: 'Bebas Neue', cursive;
    padding: auto;
    .contenedor{
        width: 100%;
        margin: 0;
        font-size: 20px;
        font-family:'Bebas Neue', cursive;
        text-align: center;
        h3{
            font-size: 26px;
            text-align: center;
           
        }
    }
}